@font-face {
  font-family: ForkAwesome;
  src: local("ForkAwesome"), url(https://www.courtbouillon.org/static/fonts/forkawesome-webfont.woff2);
}

@font-face {
  font-family: Code EAN13;
  src: local("Code EAN13") url(https://grandzebu.net/informatique/codbar/ean13.ttf);
}

@counter-style page-number {
  system: extends decimal;
  pad: 3 '0';
}

@page :left {
  margin: 4cm 6cm 2cm 2cm;

  @bottom-left {
    content: string(h3, first);
    font-size: 8pt;
    text-transform: lowercase;
  }

  @bottom-left-corner {
    content: counter(page, page-number);
    font-size: 8pt;
    font-variant-numeric: tabular-nums lining-nums;
    padding-right: 1em;
  }
}

@page :right {
  margin: 4cm 2cm 2cm 6cm;

  @bottom-right {
    content: string(h3, first);
    font-size: 8pt;
    text-transform: lowercase;
  }

  @bottom-right-corner {
    content: counter(page, page-number);
    font-size: 8pt;
    font-variant-numeric: tabular-nums lining-nums;
    padding-left: 1em;
  }
}

@page :first {
  @bottom-right {
    content: none;
  }

  @bottom-right-corner {
    content: none;
  }
}

@page :blank {
  @bottom-left {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }

  @bottom-right {
    content: none;
  }

  @bottom-right-corner {
    content: none;
  }
}


html {
  font-family: Cantarell, Twitter Color Emoji, sans-serif;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.4;
}

body {
  margin: 0;
}

article {
  break-after: always;
  break-inside: avoid;
}

a {
  color: #f76262;
  text-decoration-line: inherit;
}

p {
  orphans: 3;
  widows: 3;
}

pre {
  break-before: avoid;
  break-inside: avoid;
  font-size: 10pt;
}

code, pre {
  background: #f7f7fa;
  font-family: Mononoki;
}

pre {
  margin: 0 -1em;
  padding: 1em;
}

ul, ol {
  padding-left: 0;
}

ul {
  list-style: '−  ';
}

dd {
  break-before: avoid;
  break-inside: avoid;
}

blockquote::before {
  content: '«';
  font-size: 88pt;
  font-weight: 800;
  margin: -0.5em 0 0 -0.5em;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}

table {
  border-collapse: collapse;
  break-before: avoid;
  break-inside: avoid;
  font-size: 10pt;
  line-height: 1.1;
  margin: auto;
}

thead th, thead td {
  border-bottom: 0.2mm solid;
}

tfoot th, tfoot td {
  border-top: 0.2mm solid;
}

th, td {
  padding: 0.5em 1em;
  font-weight: 400;
}



figure {
  margin: 0;
  position: relative;
}

figure img {
  display: inline;
  max-height: 8cm;
  max-width: 13cm;
}

figure.right img {
  display: block;
}

figure figcaption {
  display: inline-block;
  font-size: 8pt;
  line-height: 1.2;
  padding: 1em 0.25cm 0;
  margin-right: -6cm;
  vertical-align: top;
  width: 4.5cm;
}

figure.right figcaption {
  left: -5cm;
  top: 0;
  position: absolute;
  text-align: right;
}



h2 {
  font-size: 66pt;
  font-weight: 800;
  hyphenate-limit-chars: 10 6 4;
  hyphens: auto;
  letter-spacing: -0.05em;
  line-height: 0.85;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 40pt;
  line-height: 0.85;
  string-set: h3 content();
}

article:not(#toc) h3 {
  background: linear-gradient(transparent 60%, #f76262 60%, #f76262 95%, white 95%);
  display: inline;
}

article:not(#toc) h3::after {
  content: '';
  display: block;
  height: 0.1em;
  margin-bottom: -0.5em;
}

h4 {
  font-size: 24pt;
  font-weight: 400;
  line-height: 1;
  margin: 1em 0;
}

h5 {
  font-size: 12pt;
  margin: 1em 0;
}


.break {
  break-before: always;
}


@page une {
  margin: 1cm;
}

#une {
  page: une;
  text-transform: lowercase;
}

#une::before {
  background: #f76262;
  content: '';
  display: block;
  height: 9cm;
  left: -1cm;
  position: absolute;
  top: 5cm;
  width: 21cm;
  z-index: -2;
}

#une h1 {
  font-size: 88pt;
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 0.8;
  margin: 17cm 0 0 -0.3cm;
  transform: rotate(-90deg);
  width: 70%;
}

#une ul, #une p, #une img {
  position: absolute;
}

#une ul {
  display: flex;
  font-size: 24pt;
  font-weight: 400;
  letter-spacing: -0.04em;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 19cm;
}

#une li {
  flex-direction: row;
  hyphens: auto;
  justify-content: stretch;
  line-height: 1;
  width: 25%;
}

#une li:nth-child(2) {
  padding-left: 1.7cm;
}

#une li:nth-child(3) {
  margin-left: -0.8cm;
}

#une li:nth-child(4) {
  text-align: right;
}

#une #numero {
  bottom: 2.6cm;
  font-size: 88pt;
  font-variant-numeric: tabular-nums lining-nums;
  font-weight: 400;
  left: -0.7cm;
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0;
  transform: rotate(-90deg);
}

#une img {
  height: 27cm;
  right: 0;
  object-fit: cover;
  top: 3cm;
  width: 13.5cm;
  z-index: -1;
}



@page legal {
  @bottom-left {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }
}

#legal {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  height: 23cm;
  justify-content: flex-end;
  line-height: 1;
  page: legal;
}

#legal ul {
  list-style: none;
}



#edito {
  break-before: right;
}

#edito img {
  height: 5cm;
  left: -4cm;
  margin-top: 1cm;
  object-fit: cover;
  position: absolute;
  width: 3cm;
}

#edito img + img {
  margin-top: 7cm;
}

#noms {
  margin-left: 8cm;
  margin-top: 0.8cm;
  max-width: 15ch;
}



@page toc {
  @bottom-right {
    content: none;
  }
}

#toc {
  break-before: right;
  page: toc;
}

#toc h2 {
  font-size: 0;
}

#toc h3 {
  border-top: .5mm solid;
  font-size: 16pt;
  font-weight: 400;
  margin: 2em 0 0.5em;
  padding-top: 0.75em;
}

#toc h3::before {
  background: white;
  content: target-counter(attr(data-link), page, page-number);
  font-size: 40pt;
  font-variant-numeric: tabular-nums lining-nums;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-top: -.8em;
  padding-left: 0.25em;
  position: absolute;
  right: 0;
  text-align: right;
}

#toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toc li {
  font-size: 12pt;
}

#toc li a::before {
  content: target-text(attr(href), content);
}

#toc a {
  color: inherit;
}


@page chapitre {
  @bottom-left {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }

  @bottom-right {
    content: none;
  }

  @bottom-right-corner {
    content: none;
  }
}

.chapitre {
  break-after: right;
  break-before: left;
  page: chapitre;
}

.chapitre h2 {
  background: linear-gradient(transparent 30%, white 30%, white 90%, transparent 90%);
  display: inline;
}

.chapitre::before {
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 29.7cm;
  margin-left: -2cm;
  margin-top: -4cm;
  width: 42cm;
}

.chapitre::after {
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -2cm;
  content: '';
  left: -27cm;
  position: absolute;
  right: -2cm;
  top: -4cm;
  z-index: -1;
}

#developpement-logiciel::before, #developpement-logiciel::after {
  background-image: url(images/developpement-logiciel.jpg);
}

#rgpd::before, #rgpd::after {
  background-image: url(images/rgpd.jpg);
}

#integration-continue::before, #integration-continue::after {
  background-image: url(images/integration-continue.jpg);
}

#logiciel-libre::before, #logiciel-libre::after {
  background-image: url(images/logiciel-libre.jpg);
}



@page dos {
  background: #f76262;

  @bottom-left {
    content: none;
  }

  @bottom-left-corner {
    content: none;
  }
}

#dos {
  background: white;
  break-before: left;
  height: 15cm;
  margin-left: 1cm;
  margin-top: 8cm;
  page: dos;
  width: 15cm;
}

#dos #barcode {
  color: #f76262;
  font-family: Code EAN13;
  font-size: 40pt;
  left: 1cm;
  position: absolute;
  text-align: center;
  top: 19.5cm;
  width: 15cm;
}

#dos ul {
  left: 5.95cm;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 9.5cm;
}

#dos li {
  font-size: 16pt;
  list-style: none;
}

#dos li a::before {
  font-family: ForkAwesome;
  margin-right: 0.5em;
}

#web a::before {
  content: "\f0ac";
}

#twitter a::before {
  content: "\f099";
}

#linkedin a::before {
  content: "\f0e1";
}

/* pygments */
.hll { background-color: #ffffcc }
.c { color: #408080 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000 } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #408080 } /* Comment.Hashbang */
.cm { color: #408080 } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.cpf { color: #408080 } /* Comment.PreprocFile */
.c1 { color: #408080 } /* Comment.Single */
.cs { color: #408080 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080 } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080 } /* Generic.Prompt */
.gu { color: #800080 } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000 } /* Keyword.Constant */
.kd { color: #008000 } /* Keyword.Declaration */
.kn { color: #008000 } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000 } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999 } /* Name.Entity */
.ne { color: #D2413A } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF } /* Name.Namespace */
.nt { color: #008000 } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121 } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622 } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688 } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
